language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - 8.0
  - 8.1
  - 8.2

before_script:
  - composer install --dev --prefer-source --no-interaction

script: vendor/bin/phpunit
